/* src/index.css */
@import "tailwindcss";

@theme {
  --color-brand-blue: #0B67C2; 
  --color-brand-yellow: #FEDB00; 
  --color-brand-dark: #1e293b; /* Softer dark blue/gray for readability */
  --color-brand-light: #f4f8fc; /* Very light airy blue for backgrounds */
}

html {
  scroll-behavior: smooth;
}

body {
  /* Apply Poppins globally */
  font-family: 'Poppins', sans-serif;
  color: theme(--color-brand-dark);
}